@media all {
    .Login {
      width:100%
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    & > div {
      width: 20vh;
      height: 100vw;
    }
  }


  .marginedEmail {
      margin: 20px 50px 20px 0px
  }

.marginedPsw {
    margin: 20px 22px 20px 0px
}

.marginedLogin {
    margin: 20px 20px 20px 0px
}